<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "musheenroyale.cowzoomer.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>MusheenRoyale</name>

    <description>
        This Is A Multi-Gamemode Game! *Currently One Gamemode Available* Battle Royale Coming Soon!.
    </description>

    <author href="http://scratch.mit.edu/users/Cowzoomer" email="cowzoomer@gmail.com">
        Cowzoomer
    </author>

</widget>
