<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "[Put your id here]"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>[Title of your app]</name>

    <description>
        Ann app made using Scratch, Phonegap, github, and PhoneGap
    </description>

    <author href="http://scratch.mit.edu/users/[Your Username]" email="[Your Email]">
        [Your Username]
    </author>

</widget>
